version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4
  continuation: circleci/continuation@2.0.1

parameters:
  run_manual_tests:
    type: boolean
    default: false

workflows:
  filter:
    when:
      not: << pipeline.parameters.run_manual_tests >>
    jobs:
      - path-filtering/filter:
          name: check-paths
          base-revision: main
          config-path: .circleci/continue.yml
          mapping: |
            contracts/.* run_contracts true
            test/.* run_contracts true
            backend/.* run_app true
            frontend/.* run_app true
  manual_tests:
    when: << pipeline.parameters.run_manual_tests >>
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continue.yml
          parameters: '{"run_manual_tests": true}'
