version: 2.1
jobs:
  test:
    docker:
      - image: cimg/node:20.8
    steps:
      - checkout
      - run: npm ci
      - run: npm --prefix backend ci
      - run: npm --prefix frontend ci
      - run: npm test
      - run: npm --prefix backend test
      - run: npm --prefix frontend run lint
workflows:
  build-and-test:
    jobs:
      - test

