.landing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff00;
  animation: landingBgShift 6s ease-in-out infinite;
}

@keyframes landingBgShift {
  0% {
    background-color: #00ff00;
  }
  50% {
    background-color: #99ff00;
  }
  100% {
    background-color: #00ff00;
  }
}
